#heder {
	box-sizing: border-box;
	width: 90%;
	padding: 50px;
	
}

nav#change ul {
	list-style-type: none;
}
nav#change ul li {
	float: left;
	margin: 0px 100px 10px 15px;
	font-weight: bold;
}
nav#change ul li a {
	display: block;
	background-color: black;
	color: pink;
	text-decoration: none;
	border-radius: 5px;
	font-family: lucida calligraphy;
	
	padding: 10px;
	text-align: center;
}
nav#change ul li a:hover {
	background-color: brown;
	color: yellow;
	border-radius: 20px;
}
.appearance {
	clear: both;
}
body {
	background-color: grey;
}
h1 {
	position: relative;
	left: 50px;
	font-family: lucida calligraphy;
	color: pink;  
}
#heder2 {
	float: left;
	box-sizing: border-box;
	width: 30%;
	padding: 20px;
	
	margin: 50px 0px;	
}
.story {
	width: 50%;
	position: relative;
	left: 50px;
	font-family: lucida calligraphy;
	color: pink;  
}
#heder3 {
	float: left;
	box-sizing: border-box;
	width:70%;
	padding: 20px;
	
	margin: 50px 0px;
	position: relative;
	left: 20px;
}


