nav#change ul {
	list-style-type: none;
}
nav#change ul li {
	float: left;
	margin: 15px 100px 50px 15px;
	font-weight: bold;
}
nav#change ul li a {
	display: block;
	background-color: #28EBEB;
	color: blue;
	text-decoration: none;
	border-radius: 5px;
	font-family: lucida calligraphy;
	
	padding: 10px;
	text-align: center;
}
nav#change ul li a:hover {
	background-color: brown;
	color: yellow;
	border-radius: 20px;
}
.appearance {
	clear: both;
}
body {
	background-color: grey;
}